.board {
  border-collapse: collapse;
  width: 360px;
  height: 360px;
  margin: 0 auto;
}

.label {
  width: 40px;
  height: 40px;
  text-align: center;
  font-weight: bold;
}

.cell {
  width: 80px;
  height: 80px;
  border: 1px solid #333;
  text-align: center;
}

.white {
  background-color: #f0d9b5;
}

.black {
  background-color: #b58863;
}

.piece {
  font-size: 30px;
  line-height: 1;
  text-align: center;
}

.img {
  width: 40px;
  height: 40px;
}

.captured-pieces {
  background-color: #F5F5F5;
  height: 100px;
  width: 200px;
  padding: 10px;
  overflow: auto;
}
