<table class="captured-pieces-withe">
  <td *ngFor="let piece of capturedPiecesW" class="piece">
    <img [src]="piece" class="img">
  </td>
</table>

<table class="board" cdkDropListGroup>
  <tr>
    <td></td>
    <td *ngFor="let col of ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H']" class="label">{{ col }}</td>
    <td></td>
  </tr>
  <tr *ngFor="let row of board.board; let i = index">
    <td class="label">{{ 8 - i }}</td>
    <td class="cell" cdkDropList (cdkDropListDropped)="drop($event)" *ngFor="let cell of row" [ngClass]="getCellClass(cell)"  [cdkDropListData]="cell">
      <div cdkDrag *ngIf="cell.piece" class="piece">
        <img *ngIf="cell.piece" [src]="cell.piece" cdkDragBoundary=".board" cdkDrag>
      </div>
    </td>
  </tr>
</table>

<table class="captured-pieces-black">
  <td *ngFor="let piece of capturedPiecesB" class="piece">
    <img [src]="piece" class="img">
  </td>
</table>
